<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>Welcome to Hotel Management System!</p>
    </div>
</div>


<div class="navbar-custom">
    <div class="nav-container">
        
        <ul class="nav-content">
            <div class="navbar-res">
                     <h3>Hotel Features</h3>
                     <li>Simple Booking</li>
                     <li>Fast, Friendly First Contact</li>
                     <li>A Genuinely Cheerful, Helpful, Knowledgeable Staff</li>
                     <li>Distinctive, Well-Appointed Guest Rooms That Are Exactly What You’ve Asked for</li>
                     <li>On-Site Services That Delight</li>
                     
             
        
            </div>

          
